@import "background";
@import "font";

:root{
    font-size:15px;
    font-family: "Smilely Sans";
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display:flex;
    flex-direction: column;

    .colorful-background();
}

header{
    width: 100%;
    height: min-content;
    padding: 10px;

    font-size: 30px;
    letter-spacing: 5px;
    // font-weight: bold;

    display: flex;
    justify-content: center;
}

#pop-up-window-container{
    width: 100%;
    height: 100%;
    position: fixed;

    display: flex;
    //垂直中心
    align-items: center;
    //水平中心
    justify-content: center;

    #window{
        width: 50vmax;
        height: max-content+20px;

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        #title{}
        #picture{
            width: 80%;
        }
        #description{}
        #confirm-button{}
    }
}